:root {
  --pink: #ff008c;
  --yellow: #ffe600;
  --darkyellow: #e2b00a;
  --lightblue: #b4dff1;
  --lightpink: #f4a8b3;
  --green: #11ea00;
  --teal: #32b5ac;
  --orange: #ea6400;
  --red: #e8434c;
  --gray: #c6c6c6;
  --blue: #0012ff;
  --purple: #d900ea;
  --gradientleftright: linear-gradient(to right, var(--pink), var(--yellow));
  --gradientdown: linear-gradient(var(--pink), var(--yellow));
  --gradientdownwithwhite: linear-gradient(var(--yellow), white 5%);
  --dark: #2e2e2e;
  --white: #ffffff;
  --box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  --font-family-paragraph: 'Roboto';
  --font-family-titles: 'TypoPRO BebasNeue';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v27-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v27-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v27-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'TypoPRO BebasNeue';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/typopro-bebasneue-bold.woff') format('woff');
}

@font-face {
  font-family: 'TypoPRO BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/typopro-bebasneue-regular.woff') format('woff');
}


@keyframes rainbow {
  0% {
    background-position:left
  }
  50% {
    background-position:right
  }
  100% {
    background-position:left
  }
}

html {
  font-family: Helvetica;
  font-size: 16px;
  color: var(--dark);
}

p {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

p + p {
  margin-top: 45px;
}

.header {
  font-family: var(--font-family-titles);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: var(--gradientleftright);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 20px;
}

.header__list-item {
  display: inline-block;
}

.link--header {
  display: block;
  padding: 20px;
}

.link {
  color: rgba(0, 0, 0, 1);
  transition: color ease-in-out 350ms;
  text-decoration: none;
  background: linear-gradient(to right, var(--pink), var(--yellow),  var(--pink));
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
}

.link:hover {
  color:rgba(0, 0, 0, 0);
}

.link--white {
  color: rgba(255, 255, 255);
}

.link--white:hover {
  color:rgba(rgba(255, 255, 255), 0);
}

.link--underline {
  text-decoration: underline;
}

.section-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-titles);
}

.section-banner__video {
  display: block;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  z-index: -1;
  object-fit: cover;
}

.section-banner__claim {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-banner__logo {
  width: 35vw;
  margin-right: 15px;
  border-radius: 100%;
  box-shadow: var(--box-shadow)
}

@media all and (min-width: 850px) {
  .section-banner__logo {
    width: calc(0.35 * 800px);
  }
}

.section-banner__text {
  max-width: 500px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--yellow);
  text-transform: uppercase;
}

.sup {
  font-size: 2rem;
  vertical-align: top;
}

.section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
}

.section__aside {
  text-align: center;
}

.section__article {
  max-width: 900px;
}

.section__article--short {
  max-width: 650px;
}

.section--about {
  background-color: var(--white);
}

.section--tickets {
  background-color: var(--yellow);
}

.section--disclaimer {
  background-color: var(--pink);
  color: var(--white);
}

.title {
  position: relative;
  padding: 20px;
  font-family: var(--font-family-titles);
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.title--margin-top {
  margin-top: 25px;
}

.title--gradient {
  background: linear-gradient(to right, var(--pink), var(--yellow),  var(--pink));
  background-size: 200% 200%;
  animation: rainbow 4s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color: rgba(0, 0, 0, 0);
}

.title--pink-gradient {
  background: linear-gradient(to right, var(--pink), var(--lightpink),  var(--pink));
  background-size: 200% 200%;
  animation: rainbow 4s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color: rgba(0, 0, 0, 0);
}

.title--yellow-gradient {
  background: linear-gradient(to right, var(--yellow), var(--darkyellow),  var(--yellow));
  background-size: 200% 200%;
  animation: rainbow 4s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color: rgba(0, 0, 0, 0);
}

.title--small {
  font-size: 5rem;
}

.title--tiny {
  font-size: 2rem;
}

.section--disclaimer p {
  font-size: 1.25rem;
}

.section--disclaimer p + p  {
  margin-top: 15px;
}

.wrapper {
  margin-top: 30px;
  text-align: center;
}

.arrow {
  border: solid var(--pink);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  position: absolute;
  top: 40%;
  margin-left: 10px;
  transform: rotate(-45deg) translateY(-50%);
  opacity: 0.6;
  transition: all ease-in-out 250ms;
}

.title--link:hover .arrow {
  transform: rotate(-45deg) translate(3px, calc(-50% + 3px));
}
